$color-gold: #ffd700;
$color-blue: #005677;
$bg-title: #c4c4c4;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
    background-color: #E6E6E6;
}

h1 {
    text-align: center;
    background: $bg-title;
    color: $color-blue;
}

h2 {
    margin-top: 2rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    background: $bg-title;
    color: $color-blue;
}

ul {
    li {
        margin-left: 2.2rem;
        .negrillas {
            font-weight: bold;
            font-style: italic;
        }
    }
}

.puntitos {
    list-style: none;
}

footer {
    width: 100%;
    margin-top: 3rem;
    padding: 1rem 0;
    text-align: center;
    background-color: $color-blue;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;

    display: flex;
    column-gap: 1.2rem;
    justify-content: center;
}

